{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<title>Libros cesma</title>
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald">
		<style>
			body{
				transition: 0.5s;
				background-color: #85C1e9;
				color: #00070C;
			}
			.box{
				background-color: white;
				border-radius: 2px;
				box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
				padding: 10px;
			}
		</style>
		{% block content_head %}{% endblock content_head %}
	</head>
	<body>
		<div id="messages">
			{% for message in messages %}
				<div class="alert alert-{{ message.tags }} text-center">{{ message|safe }}</div>
			{% endfor %}
		</div>
		<div class="container">
			<div class="text-left">
				<div class="row align-items-center" style="background-color: #f8f9fa; margin: 0px;">
					<div class="col-2">
						<img src="{% static 'img/EspirituSanto.png' %}" width="150">
					</div>
					<div class="col-10">
						<div class="row">
							<div class="col-6">
								<h2>CESMA Library´s data base</h2>
							</div>
							<div class="col-6 text-center">
								<img src="{% static 'img/book.png' %}" width="200">
							</div>
						</div>
					</div>
				</div>
			</div>
			{% include 'elements/nav-menu.html' %}
			{% block content %}{% endblock content %}
		</div>
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		{% block content_script %}{% endblock content_script %}
	</body>
</html>