{% extends 'layouts/base.html' %}

{% load staticfiles %}

{% block content %}
	<br>
	<form action="{% url 'prestamo_libro' %}" method="GET">
						<div class="row">
							{% for forms in form %}
								<div class="form-group col-md-12">
									<label>{{ forms.label }}</label>
									{{ forms }}
								</div>
							{% endfor %}
							<div class="form-group text-center col-md-12">
								<button type="submit" class="btn btn-success">Buscar</button>
							</div>
						</div>
					</form>
	<div class="box">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Libro</th>
					<th>Alumno</th>
					<th>Fecha préstamo</th>
					<th>Fecha devuelto</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for prestamo in object_list %}
					<tr>
						<td>{{ prestamo.libro.nombre }}</td>
						<td>{{ prestamo.estudiante.nombre_y_apellido }}</td>
						<td>{{ prestamo.fecha_prestamo }}</td>
						<td>
							{% if prestamo.fecha_devolucion %}
								{{ prestamo.fecha_devolucion }}
							{% endif %}
						</td>
						<td>
							{% if not prestamo.fecha_devolucion %}
								<a href="{% url 'prestamo_devolver' prestamo.pk %}" class="btn btn-warning btn-sm">Devoler</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock content %}